# The loopback network interface
auto lo
iface lo inet loopback
   address {{node[inventory_hostname]["routing"]["lo"]}}

auto eth0
iface eth0 inet dhcp
 vrf mgmt

auto vagrant
iface vagrant inet dhcp

auto mgmt
iface mgmt
  address 127.0.0.1/8
  vrf-table auto

{% for interface in node[inventory_hostname]["ports"] -%}
auto {{interface}}
iface {{interface}}
{% endfor %}

auto bridge
iface bridge
    bridge-ports {{ node[inventory_hostname].switching.bridge | join(" ") }}
{% for bridgevlans in node[inventory_hostname]["switching"]["vlans"] %}
    bridge-vids {{ bridgevlans }}
{% endfor %}
    bridge-vlan-aware yes

{% for vlanint in node[inventory_hostname]["routing"]["svi"] -%}
auto {{vlanint}}
iface {{vlanint}}
    address {{ node[inventory_hostname]["routing"]["svi"][vlanint]["ip"] }}
    address-virtual {{ node[inventory_hostname]["routing"]["svi"][vlanint]["vrrp"]["mac"] }} {{ node[inventory_hostname]["routing"]["svi"][vlanint]["vrrp"]["ip"] }}
    vlan-id {{ node[inventory_hostname]["routing"]["svi"][vlanint]["vlan"] }}
    vlan-raw-device bridge
{% endfor %}
